<template>
  <div>
    <v-card v-for="history in historyDetail" :key="history.id">
      <p>Order Id : {{ history.orderId }}</p>
      <p>Order date : {{ history.date }}</p>
      <div>
        Product List :
        <p v-for="(prod, index) in history.products" :key="index">
          -{{ prod.name }}x{{ prod.amount }}
        </p>
      </div>
    </v-card>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      historyDetail: []
    }
  },
  created() {
    this.fetchHistory()
  },
  methods: {
    async fetchHistory() {
      try {
        const res = await axios.get(`http://localhost:3050/order`)
        if (res.status === 200) {
          this.historyDetail = [...res.data]
        }
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
