<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12">
          <span>Shoping Cart</span>
        </v-col>
        <v-col cols="12">
          <v-card v-for="(product, index) in shopingCart" :key="index">
            <v-card-title>
              {{ product.name }}
            </v-card-title>
            <v-card-text>
              <div>BasketCode : {{ product.prodCode }}</div>
              <div>color : {{ product.color }}</div>
              <div>price : {{ product.price }}</div>
              <div>amount : {{ product.amount }}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn small icon @click="removeFromTheCart(product)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col v-if="shopingCart.length > 0" cols="12">
          <div>Total : {{ getSummaryPrice }}</div>
          <v-btn @click="onPurchase()">Purchase</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      shopingCart: (state) => state.shoping.shopingCart
    }),
    getSummaryPrice() {
      let total = 0
      this.shopingCart.forEach((e) => {
        total += e.price
      })
      return total
    }
  },
  methods: {
    removeFromTheCart(item) {
      this.$store.commit('shoping/removeProductFromCart', item)
    },
    async onPurchase() {
      const params = {
        orderId: new Date().getTime(),
        date: this.getDate(),
        summaryPrice: this.getSummaryPrice,
        products: [...this.shopingCart]
      }
      const res = await axios.post('http://localhost:3050/order', params)
      if (res.status === 201) {
        this.$store.commit('shoping/clearShopingCart')
        this.$emit('onPurchased')
      }
    },
    getDate() {
      const currentDate = new Date()
      const day = currentDate.getDate()
      const month = currentDate.getMonth()
      const years = currentDate.getFullYear()
      const textDate = `${day}/${month}/${years}`
      return textDate
    }
  }
}
</script>
