<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="searchText"
            outlined
            placeholder="search here"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-data-table
            :loading="prodTableLoader"
            :headers="headers"
            :items="products"
            class="elevation-1"
          >
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="addToCart(item)">
                mdi-cart
              </v-icon>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Color', value: 'color' },
        { text: 'Price', value: 'price' },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      products: [],
      prodTableLoader: false,
      searchText: '',
      searchTimeout: null
      // pagination: {
      //   itemsPerPage: 5,
      //   page: 1
      // }
    }
  },
  watch: {
    'pagination.itemsPerPage'(val) {
      this.pagination.page = 1
      this.fetchData()
    },
    searchText(val) {
      this.fetchData()
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      const params = {
        // limit: this.pagination.itemsPerPage,
        // page: this.pagination.page
        search: this.searchText
      }
      clearTimeout(this.searchTimeouts)
      this.searchTimeout = setTimeout(async () => {
        this.prodTableLoader = true
        try {
          const res = await axios.get(
            `http://localhost:3050/products?q=${params.search}`
            // `http://localhost:3050/products?_page=${params.page}&_limit=${params.limit}`
          )
          if (res.status === 200) {
            this.products = [...res.data]
          }
        } catch (error) {
          console.log(error)
        }
        this.prodTableLoader = false
      }, 500)
    },
    addToCart(item) {
      console.log(item)
      const productTag = new Date().getTime()
      const product = { ...item, prodCode: productTag }
      this.$store.commit('shoping/addProductIntoCart', product)
    }
  }
}
</script>
