<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <span>Demo Shoping Project</span>
      </v-col>
      <v-col cols="12">
        <v-tabs v-model="currentTab">
          <v-tab v-for="tab in tabList" :key="tab.id">
            {{ tab.label }}
            <v-chip
              v-if="tab.id === 1 && getAmountItemInCart > 0"
              class="ma-2"
              color="red"
              text-color="white"
            >
              {{ getAmountItemInCart }}
            </v-chip>
          </v-tab>
        </v-tabs>
      </v-col>
      <v-col cols="12">
        <component
          :is="currentTabComponent"
          @onPurchased="onPurchased"
        ></component>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import ShopingList from '~/components/shoping/ShopingList.vue'
import ShopingCart from '~/components/shoping/ShopingCart.vue'
import ShopingSummary from '~/components/shoping/ShopingSummary.vue'
export default {
  data() {
    return {
      componentsArray: [
        { id: 0, componentName: ShopingList },
        { id: 1, componentName: ShopingCart },
        { id: 2, componentName: ShopingSummary }
      ],
      currentTab: 0,
      tabList: [
        { id: 0, label: 'Product List' },
        { id: 1, label: 'Shoping Cart' },
        { id: 2, label: 'Order History' }
      ]
    }
  },
  computed: {
    ...mapState({
      shopingCart: (state) => state.shoping.shopingCart
    }),
    getAmountItemInCart() {
      return this.shopingCart.length
    },
    currentTabComponent() {
      return this.componentsArray.find((comp) => comp.id === this.currentTab)
        .componentName
    }
  },
  methods: {
    onPurchased() {
      this.currentTab = 2
    }
  }
}
</script>
